<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container pt-4" id="social">
  <hr >

    <!-- Section: Social media -->
    <section class="mb-4">
      <h2 class=" font-weight-bold ">Follow us</h2>
      <!-- Youtube -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/channel/UCr2AY6pnwiQk7D9Na3pcHcQ" role="button" data-mdb-ripple-color="dark"><i class="fab fa-youtube"></i> </a>
      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/unspoken_shutter/" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-instagram"></i></a>
      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/pinninti-sai-sukumar" role="button" data-mdb-ripple-color="dark"><i
          class="fab fa-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/saisukumarpinninti" role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
    <!-- Grid container -->
  <!-- Copyright -->
  <hr >
  <div class="text-center text-dark p-3" >
    © 2020 Copyright:
    <a class="text-dark" href="#">CropDeal</a>
  </div>
  <!-- Copyright -->
  </div>
  
</footer>