@import "../../../assets/scss/colours.scss";

#details {
  padding: 10px;
  background-color: $light  !important;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-img-top{
  width: 100%;
  height: auto;
  border-radius: 2px;
  border-color: $c1 !important;
  border-style: solid;
}

h2 {
  font-family: 'Koulen', cursive;
  font-size: 2rem;
  color: $c1;
  text-align: center;
}

.card-body {
  border-radius: 4px;
  background-color: $light  !important;
}

.mr-2 {
  padding-bottom: 15px;
  font-size: 1rem;
  color: $dark;
}

b {
  color: $c2;
}

img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
.container-fluid {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/139259/pexels-photo-139259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}