@import "../../assets/scss/colours.scss";
// Nav Bar
#logo{
    margin-left: 10px;
}


#logo:hover {
  transform: scale(1.2);
  transition:  ease-in-out .8s;
  filter: brightness(150);
}

.nav-item{
  justify-content: space-between;
}

.nav-link{
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color:   $c2 !important;
  transition: all .3s  ease-in-out;
}

.nav-link:hover{
  background-color: $c2;
   border-radius: 2px;
  color: $light !important;
}

nav{
  background-color: $light!important;
}
.navbar-toggler{
  background-color: $c2 !important;
}
.navbar-toggler-icon{
  color: $c3 !important;
}

