@import "../../../assets/scss/colours.scss";


@media screen and (min-width: 1280px) {
  .col-sm-3 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
  


