@import "../../../assets/scss/colours.scss";

.container-fluid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.col-sm-3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 120%;
  // height: 100vh;
}