<div class="container-fluid">
  <br>
  <div class="row" *ngIf="submitted">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="LoadFarmers()">Farmers</button>
      <span>&nbsp;</span>
      <button type="button" class="btn btn-primary" (click)="LoadDealers()">Dealers</button>
      <span>&nbsp;</span>
      <button class="btn btn-primary" (click)="LoadCrop()">Crops</button>
      <span>&nbsp;</span>
      <div class="table" *ngIf="submitted&&(Farmer||Dealer||Crop)">
      <div class="card" *ngIf="Farmer">
        <div class="card-header card-header-primary" >
          <h4 class="card-title">Farmers</h4>
        </div>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <div class="card-body">
          <mat-table [dataSource]="datasoucre" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.id}} </mat-cell>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> firstName </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.firstName}} </mat-cell>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> lastName </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.lastName}} </mat-cell>
            </ng-container>

            <!-- mobileNumber Column -->
            <ng-container matColumnDef="mobileNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> mobileNumber </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.mobileNumber}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.email}} </mat-cell>
            </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.address}} </mat-cell>
            </ng-container>

            <!-- status Coloumn -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
              <mat-cell *matCellDef="let Farmer"> {{Farmer.status}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="FarmersdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: FarmersdisplayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <div class="card" *ngIf="Dealer">
        <div class="card-header card-header-primary" >
          <h4 class="card-title">Dealer</h4>
        </div>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <div class="card-body">
          <mat-table [dataSource]="datasoucre" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.id}} </mat-cell>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> firstName </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.firstName}} </mat-cell>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> lastName </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.lastName}} </mat-cell>
            </ng-container>

            <!-- mobileNumber Column -->
            <ng-container matColumnDef="mobileNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> mobileNumber </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.mobileNumber}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.email}} </mat-cell>
            </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.address}} </mat-cell>
            </ng-container>

            <!-- status Coloumn -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
              <mat-cell *matCellDef="let Dealer"> {{Dealer.status}} </mat-cell>
            </ng-container>

            <!-- addons Coloumn -->
            <ng-container matColumnDef="addons">
              <mat-header-cell *matHeaderCellDef mat-sort-header> addons </mat-header-cell>
              <mat-cell *matCellDef="let Dealer">{{Dealer.addons}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="DealersdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: DealersdisplayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <div class="card" *ngIf="Crop">
        <div class="card-header card-header-primary" >
          <h4 class="card-title">Crop</h4>
        </div>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <div class="card-body">
          <mat-table [dataSource]="datasoucre" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">Crop
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let Crop"> {{Crop.id}} </mat-cell>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
              <mat-cell *matCellDef="let Crop"> {{Crop.name}} </mat-cell>
            </ng-container>


            <!-- farmerid Column -->
            <ng-container matColumnDef="farmerid">
              <mat-header-cell *matHeaderCellDef mat-sort-header> farmerid </mat-header-cell>
              <mat-cell *matCellDef="let Crop"> {{Crop.farmerid}} </mat-cell>
            </ng-container>

          <!-- Cost Coloumn -->
          <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef mat-sort-header> cost </mat-header-cell>
            <mat-cell *matCellDef="let Crop"> {{Crop.cost}} </mat-cell>
          </ng-container>

          <!-- quantity Coloumn -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header> quantity </mat-header-cell>
            <mat-cell *matCellDef="let Crop"> {{Crop.quantity}} </mat-cell>
          </ng-container>

          <!-- Type Coloumn -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> type </mat-header-cell>
            <mat-cell *matCellDef="let Crop"> {{Crop.type}} </mat-cell>
          </ng-container>


            <!-- Active Coloumn -->
            <ng-container matColumnDef="Active">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
              <mat-cell *matCellDef="let Crop"> {{Crop.Active}} </mat-cell>
            </ng-container>

     
            <mat-header-row *matHeaderRowDef="CropsdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: CropsdisplayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br>
  </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <!-- Login Form -->
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto card" *ngIf="!submitted">
        <div class="card-body ">
          <h1 class="card-title text-center"><i class="fa-solid fa-chalkboard-user"></i></h1>
          <h1 class="card-title text-center">Admin Sign In </h1>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
            <div class="form-label-group">
              <label for="username">ID <i class="fa fa-id-badge"></i></label>
              <input type="number" id="username" class="form-control" placeholder="ID" formControlName="username"
                required>
              <small class="text-danger" *ngIf="username?.errors?.['required'] && username?.touched">ID is
                required</small>
              <small class="text-danger" *ngIf="username?.errors?.['pattern'] && username?.touched">Id should number &
                Greater than 0</small>
            </div>
            <div class="form-label-group">
              <label for="inputPassword">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                formControlName="password" required>
              <small class="text-danger" *ngIf="password?.errors?.['required'] && password?.touched">
                password is required</small>
            </div>
            <br>
            <button class="btn  btn-primary btn-block" [disabled]="loginForm.invalid" type="submit">Sign in</button>
            <small class="text-danger" *ngIf="loginForm.invalid">Please Submit all the deatils.</small>
            <label class="text-danger" *ngIf="loginForm.invalid">{{errorMessage}}</label>
          </form>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>