@import "../../../assets/scss/colours.scss";
@import "../../../assets/scss/animations.scss";

.parallax {
  background-image: url("../../../assets/images/ng.webp");
  background-size: cover;
  background-repeat: no-repeat;
  & h2{
    color: $dark !important;
    
  }
}
// Container 
.container-fluid {
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1{
  color: $c1  !important;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: 'Koulen', cursive;
  font-size: 3rem;
  font-weight: bold;
  // Line height: 1.5;
  transform: translateY(100%);
  text-align: center;
  &:hover {
    color: $c1;
    text-shadow: 8px 8px 8px $dark;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out .5s;
  }
}

#expandmore {
  animation: float 3s ease-in-out infinite;
  padding-top: 60px;
  padding-bottom: -10px;
  margin-left: 50%;
  font-size: 3rem;
  font-weight: bold;
  color: $c3;
  text-decoration: none;
  transition: ease-in-out .4s;
}

#logo1 {
  width: 30%;
  height: 30%;
  // black and white filter
  // filter: brightness(120%) saturate(20%);

}

.text-left {
  margin-left: 20px;
  color: $c3  !important;
  font-size: 1.5rem;
  &:hover {
    color: $c3  !important;
  }
}


.card-img-top {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.p2 {
  background-image: url(https://images.pexels.com/photos/1443867/pexels-photo-1443867.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#crop {
  margin-left: 20px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.card {
  scale: 0.5;
  width: 50%;
  margin-top: 20px;
  transition: ease .4s;
  &:hover {
    box-shadow: 0 0 10px $dark;
    transform: translateY(-5px);
  }
  &-title {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $c1;
  }
  &-text {
    font-size: 1rem;
    color: $c4;
  }
}



h2 {
  font-family: 'Koulen', cursive;
  font-size: 2rem;
  color: $c1  !important;
}

p {
  font-size: 1rem;
  color: $dark;
}

.container-get-started {
  background-color: $light  !important;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}