@import "../../assets/scss/colours.scss";
h1{
    margin-left: 50px;
    color: $light !important;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.container-fluid{
    //  white overlay
   
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

  
