<br>

<div class="container-fluid">
  <button type="button" class="btn btn-primary" (click)="openModal()">
    + Add New Crop </button>
  <span>&nbsp;</span>
  <button type="button" class="btn btn-primary" (click)="currentcrops=false"> view All Crops </button>
  <!-- For Displaying current Crops -->
  <div class="row" *ngIf="currentcrops">
    <h1 class="title text-center">List of Active Crops Posted By {{LoggedInUser.id}}</h1>
    <div class="col-sm-2" *ngFor="let crop of Crops" id="crop">
      <div class="card" *ngIf="crop.active">
        <img class="card-img-top" src="https://img.krishijagran.com/media/17756/crops.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title "><i class="fa-solid fa-indian-rupee-sign"></i> {{crop.cost*crop.quantity}} for
            {{crop.quantity}} {{crop.type}}s</h5>
          <ul class="card-text text-left">
            <li>Name: {{crop.name}}</li>
            <li>Quantity: {{crop.quantity}} {{crop.type}}s</li>
            <li>Cost: {{crop.cost}} per 1 {{crop.type}}</li>
          </ul>
          <button class="btn btn-primary btn-block" (click)="UpdateCrop(crop.id)" [disabled]="!crop.active">Edit
            Crop</button>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <!-- For Displaying All Crops -->
  <div class="row" *ngIf="!currentcrops">
    <h1 class="title text-center">List of All Crops Posted By {{LoggedInUser.id}}</h1>
    <div class="col-sm-2" *ngFor="let crop of Crops" id="crop">
      <div class="card" >
        <img class="card-img-top" src="https://img.krishijagran.com/media/17756/crops.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title "><i class="fa-solid fa-indian-rupee-sign"></i> {{crop.cost*crop.quantity}} for
            {{crop.quantity}} {{crop.type}}s</h5>
          <ul class="card-text text-left">
            <li>Name: {{crop.name}}</li>
            <li>Quantity: {{crop.quantity}} {{crop.type}}s</li>
            <li>Cost: {{crop.cost}} per 1 {{crop.type}}</li>
          </ul>
          <button class="btn btn-primary btn-block" routerLink='/crop/{{crop.id}}' *ngIf="crop.active" [disabled]="!crop.active">Edit
            Crop</button>
        </div>
        <br>
      </div>
    </div>
  </div>
  <!-- For adding a new crop -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Model body text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
</div>