@import "../../../assets/scss/colours.scss";
@import "../../../assets/scss/animations.scss";

.container{
  height: 100vh;
}
.card {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}