@import "./assets/scss/colours.scss";

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;
  transition: ease-in-out 0.5s;
  background-image: url("https://images.pexels.com/photos/235731/pexels-photo-235731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 1);
}


.swal2 {
  &-title {
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    color: $c1  !important;
  }
  &-content {
    font-family: 'Koulen', cursive;
    font-size: 1.5rem;
    color: $c1  !important;
  }
  &-confirm {
    background-color: $c1  !important;
    border-color: $c1  !important;
  }
  &-container{
    padding: 0 !important;

  }
}

*::selection {
  background-color: $c1;
  color: $c3;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  border: $c3 solid 1px;
}

*::-webkit-scrollbar-track {
  background-color: $dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $c2;
  border-radius: 1px;
}

label {
  font-size: .8rem;
  font-weight: bold;
  color: $c2;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-bottom: 1px solid $c2;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: transparent;
  transition: ease .4s;

  &:focus {
    background-color: $c3  !important;
    border-bottom: 5px solid $c2  !important;
    transition: ease .4s;
  }
}

h {
  &1 {
    color: $c2  !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Koulen', cursive;
    font: 2rem;
    font-weight: bold;
    text-align: center;
  }

  &2 {
    color: $light  !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Koulen', cursive;
    font: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

.btn {
  &-primary {
    background-color: $c1  !important;
    border-color: $c1;
    font-weight: bold;
    transition: ease-in-out .4s;

    &:hover {
      background-color: transparent !important;
      color: $c1  !important;
      border-color: $c1;
      transition: ease-in-out .4s;
    }
  }

  &-outline-secondary {
    color: $c2  !important;
    border-color: $c2;
    transition: ease-in-out .4s;

    &:hover {
      color: $light  !important;
      background-color: $c2  !important;
      transition: ease-in-out .4s;
    }
  }

}

.text-danger {
  color: red !important;
  font-family: Mukta, sans-serif;
  font-weight: bold;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-family: Koulen;
  color: $c4;
}

.card-img-top {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#crop {
  width: 100%;
  justify-content: space-around;
}

.card {
  margin-top: 10px;
  transition: ease-in-out .4s;

  // &:hover {
  //   transform: translateY(-3px);
  //   transition: ease-in-out .4s;
  // }

  &-title {
    font-size: 1rem;
    font-family: koulen !important;
    color: $c1;
  }

  &-text li {
    list-style: none;
    margin-left: -40px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

small {
  font-size: .8rem;
  font-family: Mukta, sans-serif;
  font-weight: bold;
  color: $c2;
}