<div class="container-fluid">
  <div class="parallax">
    <!-- add image -->
    <div class="row">
      <img src="../../assets/Images/logo.PNG" class="img-fluid  mx-auto " id="logo1" alt="logo">
      <div class="col-md-12">
        <h1 class="text-center">A B2B DIGITAL MARKETPLACE<br>For Buying & selling Crops<br></h1>
        <a class="text-center" [routerLink]="['/']" fragment="crop">
          <mat-icon id="expandmore">expand_more</mat-icon>
        </a>
      </div>
    </div>
    <hr>
    <div class="p2">
      <h1 class="text-left">Buy Crops</h1>
      <div class="row" id="crop">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://images.pexels.com/photos/2589457/pexels-photo-2589457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Grains</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Grains</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://images.pexels.com/photos/9791813/pexels-photo-9791813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vegetables</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Vegetables</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://images.pexels.com/photos/277262/pexels-photo-277262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fruits</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Fruits</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://images.pexels.com/photos/5608054/pexels-photo-5608054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Plantation Crops</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Crops</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.krishijagran.com/media/25322/spices.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Spices</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Spices</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://images.pexels.com/photos/1131407/pexels-photo-1131407.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a [routerLink]="['/crops']" class="btn btn-primary">Buy Flowers</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="container-get-started">
      <div class="container">
        <br>
        <h2 class="text-center " >GET STARTED</h2>
        <p>We open the door to thousands of approved buyers and sellers. Post your crop bid as a registered buyer, or
          create your crop offer as a platform verified seller. Through our rigorous customer compliance we make sure
          that only reliable users gain access to our digital marketplace. There are two ways to get started:</p>
        <div class="row">
          <div class="col-sm-12 col-md-6 border-right" >
            <h2>Post offer as a seller</h2>
            <p style="min-height:150px">As a seller, post offers for the agricultural crop you are looking to sell, and
              gain immediate access to credit-verified buyers. Or simply react to an existing buyer’s bid and start your
              transaction. <br><br><a [routerLink]="['/sell']" class="btn btn-primary">Start Selling</a></p>
          </div>
          <div class="col-sm-12 col-md-6">
            <h2>Post bid as a buyer</h2>
            <p style="min-height:150px">As a buyer, post bids for the agricultural crop you are looking to buy.
              Communicate to the market what you are looking for, and get rapid reactions from interested farmers or
              sellers.<br><br><a [routerLink]="['/crops']" class="btn btn-primary">Start Buying</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>