<div class="container-fluid">
  <div class="parallax">
    <!-- add image -->
    <div class="row">
      <img src="../../assets/Images/logo.PNG" class="img-fluid  mx-auto " id="logo1" alt="logo">
      <div class="col-md-12">
        <h1 class="text-center">A B2B DIGITAL MARKETPLACE<br>For Buying & selling Crops<br></h1>
        <a class="text-center" [routerLink]="['/']">
          <mat-icon id="expandmore">expand_more</mat-icon>
        </a>
      </div>
    </div>
    <hr>
    <h1 class="text-left">Buy Crops</h1>
    <div class="row" id="crop">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://images.pexels.com/photos/2589457/pexels-photo-2589457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Grains</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://images.pexels.com/photos/9791813/pexels-photo-9791813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vegetables</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://images.pexels.com/photos/277262/pexels-photo-277262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Fruits</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>